# Dependencies
/node_modules
/.pnp
.pnp.*

# Build output
/dist
/build

# Environment
.env*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo

# Test
/coverage

# Generated APK copies
/apk
/android/.gradle
/android/app/build
/android/build
/android/captures
/android/local.properties
/ios/App/Pods
/ios/App/build
/ios/DerivedData

.vercel
.env*
